.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .container--error {
    background-color: #ff0000;
  }
  
  .container--color {
    background-color: var(--hex-color);
  }
  
  .container--default {
    background-color: #f4f4f4;
  }
  
  .card {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 220px;
    display: flex;
    background-color: #f4f3f2;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  
  .input--error {
    border-color: #ff0000;
  }
  
  .result {
    padding-top: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    height: 30px;
    width: 200px;
    background-color: #ccc;
  }
  
  .result--error {
    color: #ff0000;
  }

  body {
    margin: 0;
  }